In [26]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
# URL to scrape
url = "https://webpages.charlotte.edu/mscipion/"

r= requests.get(url)
print(r)

soup = BeautifulSoup(r.text, "lxml")
table = soup.find("table", class_="table table-sm table-hover screenertable")


table = soup.find('table')
headers = table.find_all("th")
print(headers)
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)
df= pd.DataFrame(columns=titles)
print(df)
columns = table.find_all("tr")

for row in columns[1:]:
    data = row.find_all("td")
    columns_data = [datum.text.strip() for datum in data]
    df.loc[len(df)] = columns_data

df.head()

<Response [200]>
[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]
['Student', 'Favourite Computer Language', 'Years of Experience']
Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7